flows.json
[
    {
        "id": "9060c286eff61b1d",
        "type": "group",
        "z": "7059b6139c3c11a9",
        "name": "Lancement manuel de l'alimentation des variables FLOW",
        "style": {
            "label": true,
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "color": "#000000"
        },
        "nodes": [
            "ea42115cfe1bc6f9",
            "f177214382e0abcb",
            "7aaf36f3bed2e444",
            "6526ac8d5b4b8327",
            "b4a7ec8d9ed8a27b",
            "846eb235d21b7bb4",
            "f690f3da65dfd2d8",
            "4ea49fd9398ad0dd",
            "3f06fdb3dfb6dd3b",
            "af3d48622960e853",
            "82475749d5b0fb33"
        ],
        "env": [],
        "x": 34,
        "y": 539,
        "w": 1092,
        "h": 342
    },
    {
        "id": "ea42115cfe1bc6f9",
        "type": "inject",
        "z": "7059b6139c3c11a9",
        "g": "9060c286eff61b1d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "b4a7ec8d9ed8a27b",
                "6526ac8d5b4b8327",
                "f177214382e0abcb",
                "f690f3da65dfd2d8",
                "4ea49fd9398ad0dd"
            ]
        ]
    },
    {
        "id": "f177214382e0abcb",
        "type": "ha-get-entities",
        "z": "7059b6139c3c11a9",
        "g": "9060c286eff61b1d",
        "name": "Get_capteur_fenetre",
        "server": "eabf9f6c62f75bbd",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "binary_sensor.fenetre",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 450,
        "y": 580,
        "wires": [
            [
                "7aaf36f3bed2e444"
            ]
        ]
    },
    {
        "id": "7aaf36f3bed2e444",
        "type": "change",
        "z": "7059b6139c3c11a9",
        "g": "9060c286eff61b1d",
        "name": "Set Topic",
        "rules": [
            {
                "t": "move",
                "p": "payload.entity_id",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.state",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 580,
        "wires": [
            [
                "3f06fdb3dfb6dd3b"
            ]
        ]
    },
    {
        "id": "6526ac8d5b4b8327",
        "type": "ha-get-entities",
        "z": "7059b6139c3c11a9",
        "g": "9060c286eff61b1d",
        "name": "Get TemperatureCapteur",
        "server": "eabf9f6c62f75bbd",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "sensor.temperature_sa_t_ch_",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 460,
        "y": 640,
        "wires": [
            [
                "7aaf36f3bed2e444"
            ]
        ]
    },
    {
        "id": "b4a7ec8d9ed8a27b",
        "type": "ha-get-entities",
        "z": "7059b6139c3c11a9",
        "g": "9060c286eff61b1d",
        "name": "Get Calendrier",
        "server": "eabf9f6c62f75bbd",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "calendar.chauffage",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 430,
        "y": 760,
        "wires": [
            [
                "846eb235d21b7bb4"
            ]
        ]
    },
    {
        "id": "846eb235d21b7bb4",
        "type": "change",
        "z": "7059b6139c3c11a9",
        "g": "9060c286eff61b1d",
        "name": "Set Topic",
        "rules": [
            {
                "t": "move",
                "p": "payload.attributes.description",
                "pt": "msg",
                "to": "data.new_state.attributes.description",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 760,
        "wires": [
            [
                "7aaf36f3bed2e444"
            ]
        ]
    },
    {
        "id": "f690f3da65dfd2d8",
        "type": "ha-get-entities",
        "z": "7059b6139c3c11a9",
        "g": "9060c286eff61b1d",
        "name": "Get Tcible",
        "server": "eabf9f6c62f75bbd",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "input_number.tcible",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 410,
        "y": 700,
        "wires": [
            [
                "7aaf36f3bed2e444"
            ]
        ]
    },
    {
        "id": "4ea49fd9398ad0dd",
        "type": "ha-get-entities",
        "z": "7059b6139c3c11a9",
        "g": "9060c286eff61b1d",
        "name": "Get ModeAuto",
        "server": "eabf9f6c62f75bbd",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "input_boolean.mode_auto",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 450,
        "y": 840,
        "wires": [
            [
                "7aaf36f3bed2e444"
            ]
        ]
    },
    {
        "id": "3f06fdb3dfb6dd3b",
        "type": "function",
        "z": "7059b6139c3c11a9",
        "g": "9060c286eff61b1d",
        "name": "Transform Data",
        "func": "if(msg.payload == 'on')\n{ \n msg.payload = true;\n}else if(msg.payload == 'off'){\n msg.payload = false;\n}\nreturn msg\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 580,
        "wires": [
            [
                "82475749d5b0fb33"
            ]
        ]
    },
    {
        "id": "af3d48622960e853",
        "type": "inject",
        "z": "7059b6139c3c11a9",
        "g": "9060c286eff61b1d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "b4a7ec8d9ed8a27b"
            ]
        ]
    },
    {
        "id": "82475749d5b0fb33",
        "type": "link out",
        "z": "7059b6139c3c11a9",
        "g": "9060c286eff61b1d",
        "name": "Out manuelle",
        "mode": "link",
        "links": [
            "275c9b3c154b2c55"
        ],
        "x": 1085,
        "y": 580,
        "wires": []
    },
    {
        "id": "eabf9f6c62f75bbd",
        "type": "server",
        "name": "Home Assistant GOOD",
        "version": 1,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]
