flows.json
[
    {
        "id": "e68204808e29eae0",
        "type": "group",
        "z": "7059b6139c3c11a9",
        "name": "Refresh en cas de bug",
        "style": {
            "stroke": "#000000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3fa58d2f427e0207",
            "88fe444ccf0465a9",
            "b03c9ec887530a79",
            "fe6f7dc11b571ba3",
            "843eda041d6abf59",
            "2d7460b8985579f9",
            "1544cd0047d14087",
            "642d5f3777e85710"
        ],
        "env": [],
        "x": 34,
        "y": 1639,
        "w": 1222,
        "h": 142
    },
    {
        "id": "3fa58d2f427e0207",
        "type": "inject",
        "z": "7059b6139c3c11a9",
        "g": "e68204808e29eae0",
        "name": "force 19h mode auto bureau",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 19 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 200,
        "y": 1680,
        "wires": [
            [
                "b03c9ec887530a79"
            ]
        ]
    },
    {
        "id": "88fe444ccf0465a9",
        "type": "inject",
        "z": "7059b6139c3c11a9",
        "g": "e68204808e29eae0",
        "name": "force si mode auto actif le refresh température cible",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 280,
        "y": 1740,
        "wires": [
            [
                "fe6f7dc11b571ba3"
            ]
        ]
    },
    {
        "id": "b03c9ec887530a79",
        "type": "api-call-service",
        "z": "7059b6139c3c11a9",
        "g": "e68204808e29eae0",
        "name": "",
        "server": "eabf9f6c62f75bbd",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.mode_auto_bureau",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 480,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "fe6f7dc11b571ba3",
        "type": "ha-get-entities",
        "z": "7059b6139c3c11a9",
        "g": "e68204808e29eae0",
        "name": "Get ModeAuto",
        "server": "eabf9f6c62f75bbd",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "input_boolean.mode_auto",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 600,
        "y": 1740,
        "wires": [
            [
                "843eda041d6abf59"
            ]
        ]
    },
    {
        "id": "843eda041d6abf59",
        "type": "switch",
        "z": "7059b6139c3c11a9",
        "g": "e68204808e29eae0",
        "name": "",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 1740,
        "wires": [
            [
                "2d7460b8985579f9"
            ]
        ]
    },
    {
        "id": "2d7460b8985579f9",
        "type": "change",
        "z": "7059b6139c3c11a9",
        "g": "e68204808e29eae0",
        "name": "Set Topic",
        "rules": [
            {
                "t": "move",
                "p": "payload.entity_id",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.state",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 1740,
        "wires": [
            [
                "1544cd0047d14087"
            ]
        ]
    },
    {
        "id": "1544cd0047d14087",
        "type": "function",
        "z": "7059b6139c3c11a9",
        "g": "e68204808e29eae0",
        "name": "Transform Data",
        "func": "if(msg.payload == 'on')\n{ \n msg.payload = true;\n}else if(msg.payload == 'off'){\n msg.payload = false;\n}\nreturn msg\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 1740,
        "wires": [
            [
                "642d5f3777e85710"
            ]
        ]
    },
    {
        "id": "642d5f3777e85710",
        "type": "link out",
        "z": "7059b6139c3c11a9",
        "g": "e68204808e29eae0",
        "name": "relance manuelle",
        "mode": "link",
        "links": [
            "275c9b3c154b2c55"
        ],
        "x": 1215,
        "y": 1740,
        "wires": []
    },
    {
        "id": "eabf9f6c62f75bbd",
        "type": "server",
        "name": "Home Assistant GOOD",
        "version": 1,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]
